:global(body) {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

:global(.canvas-item) {
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		color: white;
		font-size: 24px;
		font-weight: bold;
	}
}
